---
import Card from "../components/Card123.astro";
import Button from "../components/Button.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>Astro</h1>
    <h3>Jeg er udenfor components, og det er jeg</h3>
    <Card
      deluxe={true}
      titel="Hej jeg er titel 1"
      beskrivelse="Halloo"
      variant="primary"
    />
    <Card deluxe={false} titel="Hej jeg er titel 2" variant="secondary" />
    <Card titel="Hej jeg er titel 3" />
    <Card titel="Hej jeg er titel 3" />
    <Card titel="Hej jeg er titel 3" />
    <Card titel="Hej jeg er titel 3" />
  </body>
</html>

<style>
  body {
    height: 100%;
    display: grid;
    place-items: center;
    background-color: var(--color-yellow);
  }
</style>
