<button>
  <a href="#">Hej</a>
</button>

<style>
  button {
    width: 50px;
    background-color: firebrick;
  }
  a {
    font-family: "Courier New", Courier, monospace;
    font-size: 1rem;
  }
</style>
